{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

<div class="container mt-5"> 
      <div class="row">
            <div class="col-md-6"> 
                  <h2>Welcome to Mr. Signs</h2>
                  <p>We are a Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eveniet enim suscipit repellat repellendus minus obcaecati ipsum omnis voluptatem aperiam incidunt provident totam recusandae sunt tempore debitis neque voluptatum dignissimos.</p>
                  <a href="{% url 'our_work' %}" class="btn btn-primary mb-3">See our <strong>Gallery</strong></a> 
            </div>
            <div class="col-md-6 text-center"> 
                  <img src="{% static 'images/your-image.jpg' %}" class="img-fluid" alt="Image describing your business"> 
            </div>
      </div>
</div>
{% endblock content %}